# Xcode
NewsFeed/build/
NewsFeed/NewsFeed.xcodeproj/xcuserdata/
NewsFeed/NewsFeed.xcodeproj/project.xcworkspace/xcuserdata/
*.xcuserstate
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
NewsFeed/NewsFeed.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/configuration/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Supabase
supabase/.temp/

# Claude
.claude/
